/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: black;
}

header {
    width: 100vw;
    height: 20vh;
    background: url(../img/HEADER.jpg) no-repeat center center;
    margin: 0;
    box-shadow: #000000 inset 0px -20px 60px;
    padding: 0;
    z-index: 10;
    position: fixed;
    background-size: cover;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transform: translateY(0);
    transition: transform 1s ease;
    overflow: hidden;
}

header.slide-down {
    transform: translateY(0);
}

header.slide-up {
    transform: translateY(-100%);
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

#preloader.hidden {
    display: none;
}

#preloader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#preloader .overlay video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#project_details img {
    height: 100px;
    margin-right: 10px;
    margin-left: 5px;
}

#project_details h2 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    color: aqua;
    margin: 0;
}

#project_details {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 100px;
    padding: 0 10px; 
    text-align: center;
}

.nav-links a {
    color: #9b9494;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    line-height: 40px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.nav-links li:hover a {
    color: #ffffff;
    font-size: 16px;
    transition: ease-in 0.3s;
}

#menu-toggle {
    display: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}



main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    #project_details {
        margin: 10px auto;
    }

    #project_details h2 {
        font-size: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links li {
        min-width: 80%;
        height: 50px;
    }

    .nav-links a {
        font-size: 16px;
        line-height: 50px;
    }
    #menu-toggle {
        display: inline-block;
    }

    nav.show {
        display: block;
        width: 200px;
    }

    nav ul {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
    }

    #project_details img {
        height: 40px;
    }

    #project_details h2 {
        font-size: 18px;
    }

    .nav-links a {
        font-size: 14px;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: black;
}

header {
    width: 100vw;
    height: auto;
    background: url(../img/HEADER.jpg) no-repeat center center;
    margin: 0;
    box-shadow: #000000 inset 0px -20px 60px;
    padding: 10px;
    z-index: 10;
    position: fixed;
    background-size: cover;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 1s ease;
    overflow: hidden;
}

header.slide-down {
    transform: translateY(0);
}

header.slide-up {
    transform: translateY(-100%);
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

#preloader.hidden {
    display: none;
}

#preloader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#preloader .overlay video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#project_details img {
    height: 100px;
    margin-right: 10px;
    margin-left: 5px;
}

#project_details h2 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    color: aqua;
    margin: 0;
}

#project_details {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 20px;
}

.nav-links li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 100px;
    padding: 0 10px;
    text-align: center;
}

.nav-links a {
    color: #9b9494;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    line-height: 40px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.nav-links li:hover a {
    color: #ffffff;
    font-size: 16px;
    transition: ease-in 0.3s;
}

#menu-toggle {
    display: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

@media screen and (max-width: 768px) {

header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
 #menu-toggle {
    min-width: 20vw;
    margin: auto;
 }
    #project_details {
        display: flex;
        justify-content: flex-start;
        width: 70vw;
    }

    #menu-toggle {
        display: inline-block;
        margin-right: 10px;
    }

    nav {
        display: none;
        top: 100%;
        background: transparent;
        width: 100vw;
        z-index: 1000;
        flex-direction: column;
    }

    nav.show {
        display: flex !important;
    }

    .nav-links {
        flex-direction: column;
        gap: 0;
    }

    .nav-links li {
        height: 50px;
    }

    .actived {
        box-shadow: #000000 inset 0px 0px 50px 10px;
        border-radius: 10vw;
    }


    .nav-links a {
        font-size: 16px;
        line-height: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #project_details img {
        height: 40px;
    }

    #project_details h2 {
        font-size: 18px;
    }

    .nav-links a {
        font-size: 14px;
    }
}
